/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

        html{
            scroll-behavior: smooth;
        }

        body{
            background-color: #F0C090;            
            font-family: 'Bad Script'
        }

        #page1{
                background-color: #F0C090;            
                height: 200px;
                padding-left: 600px;
                padding-right: 640px;
                padding-top: 240px;
                padding-bottom: 550px;
                font-size: 20px;
        }

        #style2{
            background-color: #F0C090;
            color: black;
        }
        

        #page2{      
          background-color: #F0C090;            
          height: 850px;
          padding-top: 0px;
          padding-left: 50px;
          padding-bottom: 300px;
        }

        #style3{
            padding-left: 170px;
            padding-top: 140px;
        }

        #page3{  
          background-color: #F0C090;                
          height: 850px;
          padding-top: 0px;
          padding-left: 200px;
          padding-bottom: 300px;
        }     

        #style4{
            padding-left: 170px;
            padding-top: 140px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: black;
            text-align: center;
        }