/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

        html{
            scroll-behavior: smooth;
        }

        body{
            background-color: #F0C090;            
            font-family: 'Bad Script'
        }

        #myheaders{
            background-color: #F0C090;
        }

        #style2{
            width: 100%;
            font-size: 7px;
            background-color: #F0C090;
            color: black;
        }

        #page1{
            width: 100%;
            height: 270px;
            font-size: 7px;
            background-color: #F0C090;
            color: black;
            padding-left: 150px;
            padding-right: 200px;
            padding-top: 50px;
            padding-bottom: 20px;
        }

        /* #page1{
                background-color: #F0C090;            
                height: 200px;
                padding-left: 600px;
                padding-right: 640px;
                padding-top: 240px;
                padding-bottom: 550px;
                font-size: 20px;
        } */
        
        #page2{
            width: 100%;
            height: 300px;
            font-size: 7px;
            background-color: #F0C090;
            color: black;      
        }

        /* #page2{      
          background-color: #F0C090;            
          height: 850px;
          padding-top: 0px;
          padding-left: 50px;
          padding-bottom: 300px;
        } */

        #style3{
            padding-left: 30px;
            padding-right: 40px;
        }

        #page3{
            width: 100%;
            height: 400px;
            font-size: 7px;
            background-color: #F0C090;
            color: black;      
        }

        /* #page3{  
          background-color: #F0C090;                
          height: 850px;
          padding-top: 0px;
          padding-left: 200px;
          padding-bottom: 300px;
        }      */

        #style4{
            /* margin-left: 30px; */
            padding-left: 40px;
            padding-right: 20px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: black;
            text-align: center;
        }

@media only screen and (min-width: 768px){
    #style2{
        width: 100%;
        font-size: 14.5px;
        background-color: #F0C090;
        color: black;
    }

    #page1{
        width: 100%;
        height: 470px;
        font-size: 20px;
        background-color: #F0C090;
        color: black;
        padding-left: 300px;
    }

    #page2{
        width: 100%;
        height: 500px;
        font-size: 10px;
        background-color: #F0C090;
        color: black;    
    }
    #style3{
        margin-left: 200px;
        margin-top: 30px;
    }

    #page3{
        width: 100%;
        height: 450px;
        font-size: 10px;
        background-color: #F0C090;
        color: black;    
    }

    #style4{
        margin-left: 50px;
        margin-top: 30px;
    }

}

@media only screen and (min-width: 1000px){
    #style2{
        width: 100%;
        font-size: 20px;
        background-color: #F0C090;
        color: black;
    }

    #page1{
        width: 100%;
        height: 470px;
        font-size: 20px;
        background-color: #F0C090;
        color: black;
        padding-left: 600px;
        padding-bottom: 30px;
        padding-top: 190px;

    }

    #page2{
        width: 100%;
        height: 500px;
        font-size: 14px;
        background-color: #F0C090;
        color: black;    
    }
    #style3{
        margin-left: 200px;
        margin-top: 30px;
    }

    #page3{
        width: 100%;
        height: 450px;
        font-size: 14px;
        background-color: #F0C090;
        color: black;    
    }

    #style4{
        margin-left: 50px;
        margin-top: 30px;
    }
}